.container{
    width: 100%;
    
}

.content{
    width: 100%;
}

.form{
    padding: 5vh 25px;
}

.form input, .form textarea{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(184, 184, 184);
    border-left: 1px solid rgb(184, 184, 184);
    color: rgb(255, 255, 255);   
}

.sendContact{
    border: 1px solid var(--orange-color);
    border-radius: 1px;
    background-color: transparent;
    color: var(--orange-color);

    &:hover{
        color: white;
        background-color: transparent;
    }
}

@media(min-width: 1024px){
    .content{
        max-width: 1024px;
        margin: 0 auto;
    }
}