.burgerMenu {
    font-size: 300%;
    z-index: 1001;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .burgerMenuIcon{
    color: var(--orange-color);
    margin-right: 10px;

    &:hover{
      color: var(--white-color);
    }
  }
  
  .nav {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none; 
    z-index: 1000; 
    background-color: var(--black-color);
    color: var(--white-color);
  }

  .nav a {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
  }
  
  .show {
    display: flex; 
    justify-content: start;
    align-items: start;
    flex-flow: column wrap;
    gap: 2rem;
    z-index: 1000; 
    padding: 10vh 50px;
  }
  
  .logout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
  
  }
  
  .nav a, .nav button {
    width: 50%;
    font-size: 3rem;
    color: var(--white-color);
    text-decoration: none;
    border: none;
    font-weight: 100;
  }
  
  .nav a:hover, .nav .logout:hover {
    color: var(--orange-color);
  }
  
  .active {
    font-weight: bold;
    color: var(--orange-color) !important;
  }
  
  
  @media(min-width: 1024px){
    .nav, .logout{
        width: 100%;
        text-align: center;
    }

    .nav a, .nav .logout{
      width: 100%;
      margin: 2vh 0;
    }

}