.container{
    width: 100%;
    height: auto;
    padding: 3vh 25px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-flow: column;
    gap: 25px;
}

.infoContainer{
    display: flex;
}

.icon{
    color: var(--orange-color);
    font-size: 3rem;
}

.info{
    color: var(--white-color);
    margin-left: 10px;
}

@media(min-width: 1024px){
    .container{
        max-width: 1024px;
        margin: 0 auto;
    }
}