.blog{
    width: 100%;
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 10vh 10px;
}

.content{
    width: 100%;
}

.image{
    width: 100%;
}

.text{
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-flow: column wrap;
    gap: 3vh;
    text-align: start;
}

.title{
    color: var(--orange-color);
    font-size: 2rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}

.description{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 3vh;
    text-align: start;
}

.sentence{
    width: 100%;
}

@media(min-width: 1024px){
    .content{
        max-width: 1024px;
        margin: 0 auto;
    }

}