.container{
    width: 100%;
    background-color: var(--black-color);
}

.content{
    text-align: center;
    padding: 3vh 0 5vh;
}

@media(min-width: 1024px){
    .content{
        margin: 0 auto;
        text-align: start;
    }
}