.container{
    background-color: #212121;
}

.texts{
    padding: 5vh 25px;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 20px;
}

@media(min-width: 1024px){
    
}